body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.titulilloUnidad{
    font:bold 2em helvetica;
    font-size:2em;
    color:#fff0b3;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#tipoUnidad{
    color:#DBA901;
    font-size:2.6em;
    font-family:Calibri;
    font-weight: bold;
}
.cajasUnidad{
    background-color:#4d3b00;
    border-radius: 10px;
    border: solid 0.3em #fff0b3;
}
.statUnidad{
    color:white;
    font-size:2.6em;
    font-family:Calibri;
    font-weight:bold;
}
.labelDesc{
    border: solid 0.2em grey;
    border-bottom-right-radius: 1em;
    border-top-right-radius:1em;
    color:white;
}
#descripciones{
    background-color:dimgrey;
    padding:0px;
    margin:0px;
    padding-right:0.1em;
}
#LSNombre{
    margin:0px;
    padding:0px;
}
.Nombre{
    color:#DBA901;
}
.Desc{
    border:solid 0.2em grey;
    margin:0px;
    padding:0px;
    border-bottom-right-radius: 1em;
    border-top-right-radius:1em;
    color:white;
}
#BBDescr{
    border-bottom:solid 0.4em grey;
}

.superior{
    font-weight:bold;
    border:solid 0.2em grey;
    margin:0px;
    padding:0px;
    border-bottom-right-radius: 1em;
    border-top-right-radius:1em;
}
#googleSpan{
    background-color:;
}
